<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
    a {text-decoration: none}
  </style>
</head>
<script>

    window.addEventListener("DOMContentLoaded", (event) => {
    const el = document.getElementById('myform');
    if (el) {
      el.addEventListener('submit', async function(event) {
      event.preventDefault(); // Prevent the default form submission
    
      const form = event.target;
      const formData = new FormData(form);
    
        // Convert FormData to JSON
      const jsonData = {};
      formData.forEach((value, key) => {
      jsonData[key] = value;
      
      }
      );
      try {
      const response =await fetch('http://127.0.0.1:5000/generateAPA', {
        method: "POST",
        mode:"cors",
        headers: {
      "Content-Type": "application/json",
    "accept": "application/json"
    
    
    
    
    },
    
        body: JSON.stringify(jsonData)
      })
      if(response.ok){
        //parent.document.getElementById("preview").style.visibility="visible";
        const targetFrame=window.parent.document.getElementById('preview').contentWindow;
        targetFrame.postMessage('changeStyle', '*');
      }
          } catch (error) {
        console.error('Error:', error);
          }
      });
    }
    });
    </script>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000"><form id= "myform" method="POST">
<table role="none" width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td width="50%">&nbsp;</td><td align="center">

<table id="JR_PAGE_ANCHOR_0_1" role="none" class="jrPage" data-jr-height="842" cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 595px; border-collapse: collapse; background-color: white;">
<style type="text/css">
  #JR_PAGE_ANCHOR_0_1 th {font-weight: normal;}
  #JR_PAGE_ANCHOR_0_1 ul {list-style-type: disc; padding-inline-start: 40px; margin: 0px;}
  #JR_PAGE_ANCHOR_0_1 ol {list-style-type: decimal; padding-inline-start: 40px; margin: 0px;}
</style>
<tr role="none" valign="top" style="height:0">
<td style="width:23px"></td>
<td style="width:3px"></td>
<td style="width:84px"></td>
<td style="width:380px"></td>
<td style="width:80px"></td>
<td style="width:3px"></td>
<td style="width:22px"></td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="7">
</td>
</tr>
<tr valign="top" style="height:58px">
<td colspan="3">
</td>
<td style="text-indent: 0px; text-align: center;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 26px; line-height: 1.2578125; font-weight: bold;">AFFIDAVIT OF RESIDENCE</span></td>
<td colspan="3">
</td>
</tr>
<tr valign="top" style="height:36px">
<td colspan="7">
</td>
</tr>
<tr valign="top" style="height:210px">
<td>
</td>
<td colspan="4" style="text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;"><input type="text" id="name" name="name" placeholder="Name" required><br/><input type="text" id="adress_line1" name="adress_line1" placeholder="Adress Line 1" required><br/><input type="text" id="city" name="city" placeholder="City" required>, <input type="text" id="state" name="state" placeholder="State" required><br/><input type="text" id="zip_code" name="zip_code" placeholder="Zip Code" required><br/><br/><input type="text" id="affidavit_date" name="affidavit_date" placeholder="Affidavit Date" required><br/><br/><br/>To Whom This May Concern,</span></td>
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:20px">
<td colspan="7">
</td>
</tr>
<tr valign="top" style="height:326px">
<td colspan="2">
</td>
<td colspan="4" style="text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;">I, <input type="text" disabled>, formally acknowledge living at the <input type="text" disabled>, <input type="text" disabled>, <input type="text" disabled> since <input type="text" id="residency_start_date" name="residency_start_date" placeholder="Residency start date" required>.<br/><br/>I have attached the following documents for your consideration:<br/><input type="text" id="document_1" name="document_1" placeholder="Document 1" required><br/><input type="text" id="document_2" name="document_2" placeholder="Document 2" required><br/><br/>Furthermore, I swear and affirm under penalty of perjury that the facts set forth in this statement are true and accurate.<br/><br/>Sincerely,<br/><br/>______________________</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:162px">
<td colspan="7">
</td>
</tr>
</table>
<br/>
<br/>

<table id="JR_PAGE_ANCHOR_0_2" role="none" class="jrPage" data-jr-height="842" cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 595px; border-collapse: collapse; background-color: white;">
<style type="text/css">
  #JR_PAGE_ANCHOR_0_2 th {font-weight: normal;}
  #JR_PAGE_ANCHOR_0_2 ul {list-style-type: disc; padding-inline-start: 40px; margin: 0px;}
  #JR_PAGE_ANCHOR_0_2 ol {list-style-type: decimal; padding-inline-start: 40px; margin: 0px;}
</style>
<tr role="none" valign="top" style="height:0">
<td style="width:20px"></td>
<td style="width:1px"></td>
<td style="width:2px"></td>
<td style="width:7px"></td>
<td style="width:180px"></td>
<td style="width:64px"></td>
<td style="width:46px"></td>
<td style="width:1px"></td>
<td style="width:39px"></td>
<td style="width:190px"></td>
<td style="width:1px"></td>
<td style="width:19px"></td>
<td style="width:2px"></td>
<td style="width:2px"></td>
<td style="width:21px"></td>
</tr>
<tr valign="top" style="height:43px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:50px">
<td colspan="3">
</td>
<td colspan="9" style="text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;">I/We, as witness(es) to the aforementioned claims made by <input type="text" disabled> and acknowledge their residency status.</span></td>
<td colspan="3">
</td>
</tr>
<tr valign="top" style="height:10px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="3">
</td>
<td colspan="8">
<div style="width: 100%; height: 100%; position: relative;">
<div style="position: absolute; overflow: hidden; width: 100%; height: 100%; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:107px"></td>
<td style="width:421px"></td>
</tr>
<tr valign="top" style="height:30px">
<td style="pointer-events: auto; text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125; font-weight: bold;">Witness</span></td>
<td>
</td>
</tr>
</table>
</div>
<div style="position: relative; width: 100%; height: 100%; pointer-events: none; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:94px"></td>
<td style="width:434px"></td>
</tr>
<tr valign="top" style="height:30px">
<td>
</td>
<td style="pointer-events: auto; text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;">Signature______________ &nbsp;Date_________</span></td>
</tr>
</table>
</div>
</div>
</td>
<td colspan="4">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="3">
</td>
<td colspan="2" style="text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;"><input type="text" id="witness_1" name="witness_1" placeholder="Witness 1" required></span></td>
<td colspan="10">
</td>
</tr>
<tr valign="top" style="height:21px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:56px">
<td colspan="3">
</td>
<td colspan="8">
<div style="width: 100%; height: 100%; position: relative;">
<div style="position: absolute; overflow: hidden; width: 100%; height: 100%; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:107px"></td>
<td style="width:421px"></td>
</tr>
<tr valign="top" style="height:30px">
<td style="pointer-events: auto; text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125; font-weight: bold;">Witness</span></td>
<td>
</td>
</tr>
</table>
</div>
<div style="position: absolute; overflow: hidden; width: 100%; height: 100%; pointer-events: none; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:94px"></td>
<td style="width:434px"></td>
</tr>
<tr valign="top" style="height:30px">
<td>
</td>
<td style="pointer-events: auto; text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;">Signature______________ &nbsp;Date_________</span></td>
</tr>
</table>
</div>
<div style="position: relative; width: 100%; height: 100%; pointer-events: none; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:187px"></td>
<td style="width:341px"></td>
</tr>
<tr valign="top" style="height:26px">
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:30px">
<td style="pointer-events: auto; text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;"><input type="text" id="witness_2" name="witness_2" placeholder="Witness 2" required></span></td>
<td>
</td>
</tr>
</table>
</div>
</div>
</td>
<td colspan="4">
</td>
</tr>
<tr valign="top" style="height:13px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:80px">
<td>
</td>
<td colspan="12">
<div style="width: 100%; height: 100%; position: relative;">
<div style="position: absolute; overflow: hidden; width: 100%; height: 100%; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:1px"></td>
<td style="width:551px"></td>
</tr>
<tr valign="top" style="height:28px">
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:51px">
<td>
</td>
<td style="pointer-events: auto; background-color: #FFFFFF; border: 1px solid #000000; ">
</td>
</tr>
</table>
</div>
<div style="position: relative; width: 100%; height: 100%; pointer-events: none; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:10px"></td>
<td style="width:290px"></td>
<td style="width:244px"></td>
<td style="width:8px"></td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2" style="pointer-events: auto; text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125; font-weight: bold;">Notary Acknowledgment</span></td>
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:50px">
<td>
</td>
<td colspan="2" style="pointer-events: auto; text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 12px; line-height: 1.2578125;">A Notary Public or other officer completing this certificate verifies only the identity of the individual who signed the document to which this certificate is attached, and not the truthfulness, accuracy, or validity of that document.</span></td>
<td>
</td>
</tr>
</table>
</div>
</div>
</td>
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:7px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td>
</td>
<td colspan="6" style="text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;">State of <input type="text" id="notary_state" name="notary_state" placeholder="Notary State" required></span></td>
<td colspan="8">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td colspan="6" style="text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;">Country of <input type="text" id="notary_country" name="notary_country" placeholder="Notary Country" required></span></td>
<td colspan="7">
</td>
</tr>
<tr valign="top" style="height:20px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:280px">
<td colspan="3">
</td>
<td colspan="11" style="text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;">On 10/06/2024, before me, <input type="text" id="notary_public" name="notary_public" placeholder="Notary Public" required>, Notary Public, personally appeared <input type="text" disabled> who proved to me on the basic of satisfactory evidence to be the person(s) whose name(s) is/are subscribed to the within instrument and acknowledged to me that he/she/they executed the same in his/her/their authorized capacity(ies), and that by his/her/their signature(s) on the instrument the person(s), or the entity upon behalf of which the person(s) acted, executed the instrument.<br/><br/>I certify under PENALTY OF PERJURY under the laws of in the State of <input type="text" disabled> that the foregoing paragraph is true and correct.</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="6">
</td>
<td colspan="8" style="text-indent: 0px; text-align: right;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;">WITNESS my hand and official seal</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:20px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="6">
</td>
<td colspan="8" style="text-indent: 0px; text-align: right;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;">Signature_________________</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:10px">
<td colspan="4">
</td>
<td rowspan="2" style="text-indent: 0px; text-align: center;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #877373; font-size: 11px; line-height: 1.2578125;">Place Notary Seal Above</span></td>
<td colspan="10">
</td>
</tr>
<tr valign="top" style="height:20px">
<td colspan="4">
</td>
<td colspan="4">
</td>
<td rowspan="2" style="text-indent: 0px; text-align: right;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 18px; line-height: 1.2578125;"><input type="text" disabled></span></td>
<td colspan="5">
</td>
</tr>
<tr valign="top" style="height:10px">
<td colspan="9">
</td>
<td colspan="5">
</td>
</tr>
<tr valign="top" style="height:22px">
<td colspan="15">
</td>
</tr>
</table>
 <div style="text-align: center; margin-top: 50px;">
    <input type="submit" value="Submit Affidavit" style="font-size: 20px; padding: 10px 20px;">
  </div>
</td><td width="50%">&nbsp;</td></tr>
</table></form> 
</body>
</html>
