<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title>Page 1</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft00{font-size:15px;font-family:Helvetica;color:#000000;}
	.ft01{font-size:33px;font-family:Helvetica;color:#0d0202;}
	.ft02{font-size:18px;font-family:Helvetica;color:#000000;}
	.ft03{font-size:21px;font-family:Helvetica;color:#000000;}
	.ft04{font-size:18px;line-height:22px;font-family:Helvetica;color:#000000;}
-->
</style>
<script>
       window.addEventListener('message', function(event) {
           if (event.data === 'changeStyle') {
               document.getElementById('content').classList.toggle('new-style');
           }
       });
</script>
</head>
<body>
	<object class="old-style" id="content" data="NOC_Landlord_Template.pdf"  type="application/pdf" width="100%" height="100%">
    <p>Alternative text - include a link <a href="../app/reports/NOC_Landlord_Template.pdf">Preview</a></p>
    </object>

</body>
</html>
